@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Confirmación de Registro";
}

<p>Lo sentimos, hubo un error al registrar tu cuenta. <br /> Por favor, vuelve a intentarlo</p>
<a class="buttonMail" href="~/Index.cshtml"><span class="fa fa-envelope"></span>Regresar a la página principal</a>