@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Confirmación de Registro";
}

<p>El correo ha sido enviado exitosamente <br /> Ingresa a tu cuenta para confirmar tu registro.</p>
<a class="buttonMail" href="~/Index.cshtml"><span class="fa fa-envelope"></span>Regresar a la página principal</a>
<audio  autoplay>
    <source src="~/Sound/emailSound.mp3" type="audio/mpeg" />
</audio>