@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "LoveMatch";

}

@using System.Net;
@using System.Net.Mail;

@{

    if (IsPost)
    {


        const string sRemitente = "lovematchitl@gmail.com"; //Variable para almacenar el correo de la página de citas
        const string sNombreRemitente = "LoveMatch"; //Variable para almacenar el nombre de la página de citas
        const string sContraseña = "LOVEMATCHITL1"; //Variable para almacenar la contraseña del correo de la página de citas
        string sDestinatario = Request["txtEmail"]; //Variable para saber a qué email se mandará el correo
        string sUsuario = Request["txtUser"]; //Variable para saber el nombre de usario
        const string sAsunto = "REGISTRO LOVE MATCH"; //Variable para asignar el asunto del correo
        string sBody;

        //Variable para guardar el objeto Remitente de tipo MailAddress
        var vRemitente = new MailAddress(sRemitente, sNombreRemitente);


        //Asignamos el objeto MailAddress con las credenciales del usuario que desea registrarse
        var vDestinatario = new MailAddress(sDestinatario, sUsuario);



        //Creamos la variable que contendrá las propiedades para poder enviar un correo por gmail 
        var vSMTP = new SmtpClient
        {
            Host = "smtp.gmail.com", //Host que se utilizará
            Port = 587, //Puerto por el cuál se enviará el correo
            EnableSsl = true, //Activar protocolo de seguridad
            DeliveryMethod = SmtpDeliveryMethod.Network, //Método de envío
            UseDefaultCredentials = false, //Sin credenciales por defecto
            Credentials = new NetworkCredential(vRemitente.Address, sContraseña) //Seteamos nuestras propias credenciales
        };

        //Variable que guardará el cuerpo del correo
        sBody = "Tu registro fue satisfactorio, \n" +
                       "¡¡Bienvenido a LoveMatch!! Comienza a buscar a tu alma gemela =) ";


        //Sentencia using para que llame al método Dispose 
        using (var vMensaje = new MailMessage(vRemitente, vDestinatario)
        {
            Subject = sAsunto, // Asignamos el asunto
            Body = sBody //Asignamos el cuerpo del correo
        })
        {
            try {
                vSMTP.Send(vMensaje); //Enviamos el correo
            } catch {
                //El registro falló y visualizaremos la páginad de error
                Response.Redirect("~/EmailSentError");
            }

        }

        //El registro fue exitoso y visualizaremos la página de éxito
        Response.Redirect("~/EmailSentSuccess");

    }
}

<!-- Container -->
<div class="container">
    <!-- Main Section -->
    <section class="main">
        <!-- Form -->
        <form method="post" action="">
            <h3>Conoce a tu alma gemela</h3>
            <!-- Inputs -->
            <input class="block input-style" type="text" name="txtUser" placeholder="Usuario">
            <input class="block input-style" type="password" name="txtPassword" placeholder="Contraseña">
            <input class="block input-style" type="email" name="txtEmail" placeholder="Correo Electrónico">
            <select class="block input-style" name="selectCountry" id="selectCountry">
                <option value="wrong" disabled selected>País</option>
                <option value="mex">México</option>
                <option value="usa">Estados Unidos</option>
                <option value="can">Canadá</option>
                <option value="col">Colombia</option>
                <option value="nor">Noruega</option>
            </select>
            
            <!-- Birthday -->
            <p class="formPar">Fecha Nacimiento: </p>
            <select class="input-style" name="selectAgeDay" id="selectDay">
                <option value="wrong" disabled selected>Día</option>
            </select>

            <select class="input-style" name="selectAgeMonth" id="selectMonth">
                <option value="wrong" disabled selected>Mes</option>
            </select>

            <select class="input-style" name="selectAgeYear" id="selectYear">
                <option value="wrong" disabled selected>Año</option>
            </select>

            <!-- Interests Table -->
            <table>
                <tr>
                    <td><p class="formPar">Soy:</p></td>
                    <td>
                        <input id="radioMale" type="radio" name="inputSex" value="male" hidden="true" checked>
                        <label class="radioLabel" for="radioMale">Hombre</label>
                    </td>
                    <td>
                        <input id="radioFemale" type="radio" name="inputSex" value="female" hidden="true">
                        <label class="radioLabel" for="radioFemale">Mujer</label>
                    </td>
                </tr>
                <tr>
                    <td><p class="formPar">Me interesan:</p></td>
                    <td>
                        <input id="checkMen" type="checkbox" name="inputInterest" value="men" hidden="true">
                        <label class="checkLabel" for="checkMen">Hombres</label>
                    </td>
                    <td>
                        <input id="checkWomen" type="checkbox" name="inputInterest" value="women" hidden="true">
                        <label class="checkLabel" for="checkWomen">Mujeres</label>
                    </td>
                </tr>
                <tr>
                    <td><p class="formPar">Busco:</p></td>
                    <td>
                        <input id="checkDate" type="checkbox" name="inputLooking" value="date" hidden="true">
                        <label class="checkLabel" for="checkDate">Cita</label>
                    </td>
                    <td>
                        <input id="checkCasual" type="checkbox" name="inputLooking" value="casual" hidden="true">
                        <label class="checkLabel" for="checkCasual">Encuentro Casual</label>
                    </td>
                </tr>
            </table>

            <!-- Terms & Conditions -->
            <input id="checkAccept" name="checkAccept" type="checkbox" value="accept">
            <label class="checkLabelAccept" for="checkAccept">
                He leído y acepto los
                <a class="anchorTerms" href="#">Términos y Condiciones</a>
            </label>

            <!-- Submit form -->
            <input class="block input-style" type="submit" value="Enviar">
        </form>
    </section>
    <a href="#">
        <aside class="advertise">
            <span class="fa fa-heart fa-4x"></span>
            <p>Conoce nuestra oferta de San Valentin</p>
        </aside>
    </a>
   
</div>